<div class="container, fundo">
    <div class="btn-test">
        <button type="button" class="btn btn-danger" (click)="limpar()">c</button>
        <span>
            <input type="text" id="display" name="display" [value]="display" readonly>
        </span>            
    </div>
    <div class="btn-test">
        <button type="button" class="btn btn-light" (click)="adicionarNumero('7')">7</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('8')">8</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('9')">9</button>
        <button type="button" class="btn btn-secondary" (click)="definirOperacao('/')">/</button>
    </div>
    <div class="btn-test">
        <button type="button" class="btn btn-light" (click)="adicionarNumero('4')">4</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('5')">5</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('6')">6</button>
        <button type="button" class="btn btn-secondary" (click)="definirOperacao('*')">*</button>
    </div>
    <div class="btn-test">
        <button type="button" class="btn btn-light" (click)="adicionarNumero('1')">1</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('2')">2</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('3')">3</button>
        <button type="button" class="btn btn-secondary" (click)="definirOperacao('-')">-</button>
    </div>
    <div class="btn-test">
        <button type="button" class="btn btn-light" (click)="adicionarNumero('.')">.</button>
        <button type="button" class="btn btn-light" (click)="adicionarNumero('0')">0</button>
        <button type="button" class="btn btn-success" (click)="calcular()">=</button>
        <button type="button" class="btn btn-secondary" (click)="definirOperacao('+')">+</button>
    </div>
</div>