.fundo{
    text-align: center;
}

.btn-test button{
    border-radius:0;
    width:80px;
    height: 80px;
    padding: 5px 0 0 5px;
    text-align: center;
}

#display{
    text-align: right;
    font-size: 40px;
    width: 240px;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 35px;
}
